async-generator==1.10
bandit==1.7.0
click==7.1.2
dataclasses-json==0.5.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
gitdb==4.0.7
GitPython==3.1.14
importlib-metadata==3.10.1
itsdangerous==1.1.0
Jinja2==2.11.3
libcst==0.3.18
MarkupSafe==1.1.1
marshmallow==3.11.1
marshmallow-enum==1.5.1
mypy-extensions==0.4.3
pbr==5.5.1
psutil==5.8.0
pyre-check==0.9.0
pyre-extensions==0.0.21
python-taint==0.42
pywatchman==1.4.1
PyYAML==5.4.1
six==1.15.0
smmap==4.0.0
stevedore==3.3.0
stringcase==1.2.0
tabulate==0.8.9
typing-extensions==3.7.4.3
typing-inspect==0.6.0
Werkzeug==1.0.1
zipp==3.4.1
