* {
  	box-sizing: border-box;
  	font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
}
body {
  	background-color: #435165;
  	margin: 0;
}
.navtop {
  	background-color: #2f3947;
  	height: 60px;
  	width: 100%;
  	border: 0;
}
.navtop div {
  	display: flex;
  	margin: 0 auto;
  	width: 1000px;
  	height: 100%;
}
.navtop div h1, .navtop div a {
  	display: inline-flex;
  	align-items: center;
}
.navtop div h1 {
  	flex: 1;
  	font-size: 24px;
  	padding: 0;
 	margin: 0;
  	color: #eaebed;
  	font-weight: normal;
}
.navtop div a {
  	padding: 0 20px;
  	text-decoration: none;
  	color: #c1c4c8;
  	font-weight: bold;
}
.navtop div a i {
  	padding: 2px 8px 0 0;
}
.navtop div a:hover {
  	color: #eaebed;
}

body.loggedin {
  	background-color: #f3f4f7;
}

.content {
  	width: 1000px;
  	margin: 0 auto;
}
.content h2 {
  	/*margin: 0;*/
  	padding: 25px 0;
  	border-bottom: 1px solid #e0e0e3;
  	color: #4a536e;
}
/*.content > p, .content > div {
  	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  	margin: 25px 0;
  	padding: 25px;
	background-color: #fff;
}*/
.content > p table td, .content > div table td {
	padding: 5px;
}

/*.operations form {
  	display: block;
}*/

.balance {
	text-align: center;
    width: 360px;
	display: flex;
}

/*.action form input[type="password"] {
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}*/
.operations {
  	width: 360px;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
	text-align: center;
}
/*.operations {
  	text-align: center;
  	color: #5b6574;
  	padding: 20px 0 20px 0;
  	border-bottom: 1px solid #dee0e4;
	display: inline-flex;
	/*padding: 0 10px 10px 10px;
}*/

/*.operations .links {
  	display: flex;
  	padding: 0 15px;
}*/

/*.operations {
  	color: #adb2ba;
  	text-decoration: none;
  	display: inline-flex;
  	padding: 0 10px 10px 10px;
  	font-weight: bold;
}*/

/*.operations form label {
  	justify-content: center;
  	align-items: center;
  	width: 50px;
  	height: 50px;
  	background-color: #3274d6;
  	color: #ffffff;
}*/

.operations form input[type="password"], .operations form input[type="number"], select {
  	width: 310px;
  	height: 50px;
  	border: 1px solid #dee0e4;
  	margin-bottom: 20px;
  	padding: 0 15px;
}

.operations form input[type="submit"] {
  	width: 100%;
  	padding: 15px;
  	background-color: #3274d6;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
}

